.Rproj.user
.Rhistory
.RData
.Ruserdata
*.zip
errorReportSql.txt
errorReportR.txt
*.tex
.DS_Store
*.history
.RDataTmp
*.log
*log.txt
inst/shiny/DiagnosticsExplorer/data/PreMerged.RData
tests/testthat/testthat-problems.rds
sql